
.-contact__title {
  text-align: center;
  margin-bottom: 25px;
}

.-contact {
  width: 70%;
  flex-direction: column;
  align-items: center;
}

.contact__inp__container {
  flex-direction: column;
  width: 100%;
}

.contact__form {
  width: 36%;
  min-width: 300px;
}

.contact__lab {
  font-family: "Quicksand", sans-serif;
  height: 36px;
  font-size: 22px;
  font-weight: 300;
}
.contact__inp {
  height: 28px;
  padding: 8px 12px;
  margin-bottom: 18px;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
}

#message {
    min-height: 50px
}

.messages_btn.contact__btn {
    border-radius: 5px;
    width: 180px;
    margin-left: auto;
}