.messagesContainer {
  height: calc(100% - 65px);
  padding: 15px 10px 0 10px;
  border-radius: 15px;
  flex-direction: column;
  justify-content: space-between;
}

#messages {
  border-radius: 15px;
  list-style-type: none;
  margin-bottom: 3px;
  padding: 0;
  height: 92%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

.messages__user {
  width: fit-content;
  padding: 8px 20px 10px 16px;
  min-height: 41px;
  max-height: 174px;
  align-items: center;
  display: flex;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 5px;
  position: relative;
  background-color: #e5e5e5;
  margin: 0 18px 15px 0;
}
.messages__avatar {
  min-width: 50px;
  height: 50px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  margin-right: 5px;
}
.messages__time {
  height: 20px;
  position: absolute;
  right: 10px;
  bottom: 0;
  font-size: 13px;
  font-weight: 300;
  color: #949494;
}

.messages__user-message {
  font-weight: 200;
  padding-left: 10px;
  font-size: 1em;
  height: auto;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 68px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
}
#input {
  height: 54px;
  border: none;
  padding: 0 1rem;
  flex: 1;
  border-radius: 20px 0 0 20px;
}
#input:focus {
  outline: none;
}
.messages_btn {
  height: 54px;
  flex: 0.3;
  justify-content: center;
  background: #64b1ce;
  border: 1px solid #2c99c5;

  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-width: 0 1px 4px;
  transition: all 0.2s ease-out;
}

.messages_btn:hover {
  border-width: 0 1px 1px;
  cursor: pointer;
  background: #2688ae;
}
.messages_btn:active {
  box-shadow: 0 3px 15px -2px;
}

.send__message {
  margin-right: 5px;
}

/* SPINNER  */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
