.messagesContainer{
  height: 85vh;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#messages {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
  list-style-type: none;
  margin-bottom: 3px;
  padding: 0;
  height:92% ;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

.messages__user {
  padding: 0.5rem 1rem;
  height: 2.5em;
  align-items: center;
  display: flex;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 15px;
}

.messages__user-message {
  font-weight: 200;
  padding-left: 15px;
  font-size: 1em;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
#input:focus {
  outline: none;
}
.messages_btn {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.messages_btn:hover{
  background: rgb(77, 77, 77);
  cursor: pointer;
}
.messages_btn:active{
  transform: scale(.95);
  box-shadow: 0 3px 15px -2px;
}


