.messagesContainer{
  height: calc(100% - 50px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#messages {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.35);
  list-style-type: none;
  margin-bottom: 3px;
  padding: 0;
  height:92% ;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: scroll; /* Add vertical scrollbar */
}

#messages > li:nth-child(odd) {
  background: #efefef;
}

.messages__user {
  padding: 0.5rem 1rem;
  height: 2.5em;
  align-items: center;
  display: flex;
  font-family: "FiraGO", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 15px;
}

.messages__user-message {
  font-weight: 200;
  padding-left: 15px;
  font-size: 1em;
}

#form {
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 68px;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
  border-radius: 0 0 0 4px;
  display: flex;
  align-items: center;
}
#input {
  height:54px;
  border: none;
  padding: 0 1rem;
  flex: 1;
  border-radius: 20px 0 0 20px;
}
#input:focus {
  outline: none;
}
.messages_btn {
  height:54px;
  flex: 0.30;
  justify-content: center;
  background: #64b1ce;
  border: 1px solid #2c99c5;

  border-radius: 0 20px 20px 0;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-width: 0 1px 4px;
  transition: all 0.2s ease-out;
}

.messages_btn:hover{
  border-width: 0 1px 1px;
  cursor: pointer;
  background: #2688ae;
}
.messages_btn:active{
  box-shadow: 0 3px 15px -2px;
}

.send__message {
  margin-right: 5px;
}
