.chat__container {
  width: 67%;
  height: calc(100vh - 95px);
  margin: 0 auto;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
  -moz-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
  box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
}
.chat__mobile__options {
  width: 90%;
  height: 60px;
  min-width: 690px;
  margin: 0 auto;
  padding-left: 40px;
  align-items: flex-end;
  display:none;
}

.mobile__options {
  width: 150px;
  height: 40px;
  justify-content:center;
  border: 1px solid #d1d1d1;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.05);
  -moz-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.05);
  box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.05);

  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  transition: all 0.2s ease-out;
}

.-users{
  background-color: #333333;
  color: white
}

.-active{
  height: 50px;
}
.chat__window {
  flex: 2;
  height: 100%;
  border-radius: 4px 0 0 4px;
}
.chat__window__title {
  width: 100%;
  height: 50px;
  background-color: #75caeb;
  border-radius: 4px 0 0 0;

  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  color: #494949;
}

.-users-title{
  font-size: 18px;
  background-color: #333333;
  border-radius: 0 4px 0 0;
  color: #f7f7f7;
  border-bottom: 1px solid #646464;;
}

.chat__users {
  flex: 1;
  height: 100%;
  background-color: #333333;
  border-radius: 0 5px 4px 0;
}

.chat__users__img {
  height: 30px;
  margin-right:5px;
}

.chat__users__active {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: scroll;
}

.chat__userInfo {
  height: 34.6px;
  border-bottom: 1px solid rgba(0,0,0,.20);
  padding: 8.8px 20px;
}
.chat__userInfo__details {
  flex:1;
  color: white;
  font-size: 17px;
  font-weight: 300;
}
.userInfo__gender {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 4px;
}
.-female {
  background-color: #ff8198
}
.-male {
  background-color: #75caeb
}

.userInfo__avatar {
 width: 30px;
 height: 100%;
 background-size: auto 100%;
 background-position: center center;
 margin-right: 6px;
}

.userInfo__name {
 flex: 10;
}

.chat__userInfo__flag {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-size: auto 100%;
  background-position: center center;
}

@media screen and (max-width: 1024px) {
  .chat__container {
    width: 80%;
    min-width: 690px;
  }
}
@media screen and (max-width: 768px) {
  .chat__mobile__options {
    width: 90%;
    height: 60px;
    min-width: 690px;
    margin: 0 auto;
    padding-left: 40px;
    align-items: flex-end;
    display:flex;
  }
  .chat__container {
    width: 90%;
    min-width: 690px;
  }
  .-hideWindow {
    display:none;
  }
  
}