.chat__container {
  width: 67%;
  height: calc(100vh - 95px);
  margin: 0 auto;

  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
  -moz-box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
  box-shadow: 0px 0px 13px 0px rgba(000, 000, 000, 0.20);
}
.chat__window {
  flex: 2;
  height: 100%;
  border-radius: 4px 0 0 4px;
}
.chat__window__title {
  width: 100%;
  height: 50px;
  background-color: #75caeb;
  border-radius: 4px 0 0 0;

  align-items: center;
  justify-content: center;

  font-size: 20px;
  font-weight: 700;
  color: #494949;

}
.chat__users {
  flex: 1;
  height: 100%;
  background-color: grey;
  border-radius: 0 4px 4px 0;
}
