.home__container {
  width: 80%;
  margin: 0 auto 30px auto;
  flex-direction: column;
  align-items: center;
}

.home__logo {
  width: 350px;
  height: 70px;
  background-image: url(../../img/ChatJD-1.png);

  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.home__title {
  color: #595959;
  line-height: 100%;
  margin-bottom: 5px;
  text-align: center;
}
.home__subtitle {
  color: #bbbbbb;
  font-weight: 400;
  margin-bottom: 25px;
}

.home__register {
  width: 60%;

  border-radius: 5px;
  padding: 25px;
  font-family: "Quicksand", sans-serif;
  color: #595959;
  font-size: 28px;
  -webkit-box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);
  -moz-box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);
  box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);

  margin-bottom: 15px;
}
.register__group {
  width: 90%;
  margin: 0 auto 15px auto;
}

.register__title {
  margin-bottom: 15px;
}

.register__label {
  flex:1;
  font-size: 20px;
  height: 51px;
  align-items: center;
}

.register__input {
  flex:2;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding-left: 15px;
  margin-right: 10%;
}
.age__container{
  flex:2.1;
  border:none;
  padding: 0;
}

#countryOption {
  min-width: 100px;
}
#age {
  min-width: 100px;
  height: 100%;
}

.register__input__gender {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
}

#female {
  margin-left: 12px;
  width: 15px;
  height: 15px;
  filter: hue-rotate(130deg);
}

#male {
  width: 15px;
  height: 15px;
}

.register__input__gender:hover,
#male:hover,
#female:hover {
  cursor: pointer;
}
.register__avatar {
  height: 85px;
}

.register__submit.-btn-primary {
  width: 120px;
  height: 53px;
  justify-content: center;
  border-radius: 5px;
  margin-left: calc(100% - 250px);
  background-color: #efefef;
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.1px;

  -webkit-box-shadow: 0px 2px 0px 1px rgba(210, 210, 210, 1);
  -moz-box-shadow: 0px 2px 0px 1px rgba(210, 210, 210, 1);
  box-shadow: 0px 2px 0px 1px rgba(210, 210, 210, 1);
  transition: all 0.3s ease-out;
}
.register__submit.-btn-primary:hover {
  filter: brightness(98%);
  transform: translateY(1px);
  -webkit-box-shadow: 0px 1px 0px 1px rgba(150, 150, 150, 1);
  -moz-box-shadow: 0px 1px 0px 1px rgba(150, 150, 150, 1);
  box-shadow: 0px 1px 0px 1px rgba(150, 150, 150, 1);
}
.register__submit.-btn-primary:active {
  filter: brightness(88%);

}

.register__login__icon {
  margin-right: 5px;
}
.register__option {
  font-size: 20px;
}

/* border: 1px solid #d1d1d1; */
/* color: #595959;
title: #bbbbbb; */
/* 

LOADING ANIMATION */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis.-homeLoader {
  height: 40px;
  display:flex;
  align-items: center;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 14px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #80dbff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* RESPONSIVE */

@media screen and (max-width: 1440px) {
  .messages__user-message {
    max-width: 350px;
  }
}


@media screen and (max-width: 1440px) {
  .home__container {
    width: 85%;
  }
}
@media screen and (max-width: 1024px) {
  .home__container {
    width: 90%;
  }
  .register__group {
    width: 90%;
    margin: 0 auto 15px auto;
    flex-direction: column;
  }
  .register__label {
    flex: none;
  }
  .register__input {
    flex: none;
    height: 51px;
  }
  .register__avatar {
    height: 85px;
    width: 170px;
    height:auto;
    margin: 0 0 16px 5%;
  }

  .register__submit.-btn-primary {
    width: 120px;
    height: 53px;
    margin-left: calc(100% - 200px);
  }
}

@media screen and (max-width: 768px) {
  .home__container {
    width: 95%;
  }
  .home__register {
    min-width: 395px;
  
    border-radius: 5px;
    padding: 25px;
    font-family: "Quicksand", sans-serif;
    color: #595959;
    font-size: 28px;
    -webkit-box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);
    -moz-box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);
    box-shadow: inset 0px -1px 0px 2px rgba(235, 235, 235, 1);
  
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 480px) {
  .home__container {
    width: 95%;
  }
  .home__register {
    width: 90%;
    min-width: 275px;
  }
  .home__logo {
    width: 272px;
    height: 55px;
  }
  .register__avatar {
    margin: 0 0 22px 5%;
  }
  .register__input{
    width:90%;
  }
  .register__group {
    width: 100%;
    align-items:start;
  }
}