.navBar__container {
  width: 94%;
  height: 70px;
  padding: 0 3%;

  justify-content: space-between;
  background-color: #fff;

  box-shadow: 1px -2px 1px 7px rgba(219,219,219,0.3);
  -webkit-box-shadow: 1px -2px 1px 7px rgba(219,219,219,0.3);
  -moz-box-shadow: 1px -2px 1px 7px rgba(219,219,219,0.3);
}

.navBar__logo {
  width: 20%;
  min-width: 280px;
  height: 100%;
  background-image: url(../../img/ChatJD-1.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
}

.navBar__nav {
  width: 20%;
  min-width: 280px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav__item-btn {
  font-size: 18px;
}
