.navBar__container {
  width: 94%;
  height: 70px;
  padding: 0 3%;
  margin-bottom: 20px;

  justify-content: space-between;
  background-color: #fff;

  box-shadow: 1px -2px 1px 7px rgba(219, 219, 219, 0.3);
  -webkit-box-shadow: 1px -2px 1px 7px rgba(219, 219, 219, 0.3);
  -moz-box-shadow: 1px -2px 1px 7px rgba(219, 219, 219, 0.3);
}

.navBar__logo {
  min-width: 180px;
  height: 100%;
  background-image: url(../../img/ChatJD-1.png);
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
  border: none;
}

.navBar__nav {
  width: 20%;
  min-width: 280px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.nav__item-btn {
  color: #595959;
  font-size: 18px;
}

.nav__btn-out {
  width: 170px;
  height: 50px;

  background-color: #fc676d;
  border: 2px solid #d5575b;
  border-width: 0 2px 4px;
  border-radius: 5px;
  justify-content: space-around;
  align-self: center;

  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  transition: all 0.2s ease-out;
  color: white;
}
.nav__btn-out:hover {
  background-color: #ea5e62;
  border-width: 0 1px 1px;
  cursor: pointer;
}
.nav__btn-out:active {
  background-color: #d5575b;
}

.nav__btn-out img {
  height: 30px;
}
.nav__burguer {
  display: none;
}
@media screen and (max-width: 768px) {
  .navBar__logo {
    height: 50px;
  }
  .navBar__container {
    position: relative;
    align-items: center;
  }
  .navBar__nav.-flex {
    position: absolute;
    top: 70px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 70px);
    translate: -100%;

    transition: all 0.3s ease-out;
  }
  .nav__item {
    flex: 1;
    width: 100%;
    background: #4bb7ffff;
    border-bottom: 2px solid white;
  }
  .nav__item-btn {
    font-size: 40px;
  }
  .navBar__nav.-flex.-nav-active {
    translate: 0;
  }
  .nav__burguer {
    height: 46px;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
    background: transparent;
    position: relative;
  }
  .burguer__menu {
    height: 7px;
    background: #595959;
    width: 100%;
    transition: all 0.3s ease-in;
    position: absolute;
    border-radius: 5px;
  }
  .-top {
    top: 0;
  }
  .-middle {
    top: 0;
    bottom: 0;
    margin: auto 0;
  }
  .-bottom {
    bottom: 0;
    opacity: 1;
  }
  
  .-top.-activebtn {
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    width: 115%;
  }
  .-middle.-activebtn {
   opacity: 0
  }
  .-bottom.-activebtn {
    transform: rotate(-45deg);
    transform-origin: 0% 100%;
    width: 115%;
  }

 
}
