.avatar__register__container {
    margin-right: 10%;
    flex: 2;
}
.avatar__dropdown {
  position: relative;
  width: 115px;
  justify-content: center;

  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;

  -webkit-box-shadow: 0px 2px 0px 1px rgba(230, 230, 230, 1);
  -moz-box-shadow: 0px 2px 0px 1px rgba(230, 230, 230, 1);
  box-shadow: 0px 2px 0px 1px rgba(230, 230, 230, 1);
  border: none;
}

.avatar__dropdown:hover {
  background-color: #f1f1f1;
  transform: translateY(2px);
  cursor: pointer;
}
.avatar__dropdown:active {
 filter:brightness(95%)
}

.avatar__container {
  height: 100%;
}
.avatar__image {
  width: 75px;
  height: 69px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease;
}

.avatar__options {
  position: absolute;

  left: 0;
  width: 200%;
  max-height: 0;
  overflow: hidden;

  border-radius: 5px;
  bottom: 100%;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  transition: max-height 0.5s ease;
  /* cubic-bezier(0, 1, 0, 1); */
}

.avatar__options .avatar__image:hover {
  background-color: #f1f1f1;
}

.avatar__options[aria-expanded="true"] {
  padding: 5px;
  border: 1px solid #d1d1d1;
  max-height: 500%;
}

@media screen and (max-width: 1024px) {
  .avatar__register__container {
    margin-right: 0;
}
}