.avatar__dropdown {
  position: relative;
  width: 100px;
  padding: 8px 16px;
  background-color: #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;

  -webkit-box-shadow: 0px 2px 0px 1px rgba(242, 242, 242, 1);
  -moz-box-shadow: 0px 2px 0px 1px rgba(242, 242, 242, 1);
  box-shadow: 0px 2px 0px 1px rgba(242, 242, 242, 1);
}

.avatar__dropdown:hover {
  background-color: #F1F1F1;
  transform: translateY(2px);
  cursor: pointer;
}

.avatar__container {
  flex-grow: 1;
  height: 100%;
}
.avatar__image {
  width: 88px;
  height: 69px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.1s ease;
}

.avatar__options {
  position: absolute;

  left: 0;
  width: 200%;
  height: 500%;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  bottom: 100%;

  flex-wrap: wrap;
  align-items: center;
  background-color: white;
}

.avatar__options .avatar__image:hover {
    background-color: #F1F1F1;
  }
