
.-aboutContainer {
 margin-bottom: 20px;
}

.about__title {
font-family: 'Quicksand', sans-serif;
text-align: center;
margin-bottom: 25px;
}

.about__text {
    font-size: 20px;
    margin-bottom: 26px;
    font-weight: 300;
}

.-about {
    margin-bottom: 33px;
}
